.jumbotron{
  background-image: url("https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  color: aliceblue;
  padding-bottom: 100px;
}
.btn {
  padding: 4px;
  margin: 4px;
  border: none;
  color: white;
  width: 150px;
  font-variant: small-caps;
  font-size: 13px;
  float: left;
}
.card{
  width:400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: ridge;
  border-width: 8px;
}
