.jumbotron{
  background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwj3h4WYkoDnAhUKBGMBHUJtA2UQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fpen%2F&psig=AOvVaw35owSUew0FsZXo8YkN4CAO&ust=1578989969059258");
}
.btn {
  padding: 4px;
  margin: 4px;
  border: none;
  color: white;
  width: 150px;
  font-variant: small-caps;
  font-size: 13px;
  float: left;
}
.card{
  width:400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: ridge;
  border-width: 8px;
}
